* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}


.carousel-item img {
  height: 100vh;
  filter: brightness(50%);
}


/*
***nav bar 
**add position to nav bar => fixed.
**add color and hover effects.
**add the active color and bg color => for scrollspy.
 */
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #38383891;
}

nav .navbar-nav li a {
  color: white !important;
}

nav .navbar-nav li a:hover {
  color: #ad9663 !important;
  background-color: white;
}

.nav-link {
  color: white !important;
  text-transform: uppercase;
}

.nav-link.active {
  color: #ad9663 !important;
  background-color: white !important;
}

/* 
***add style to logo:
**color and font.
 */
.logo {
  color: #ad9663;
  font-family: "Dancing Script", cursive;
  font-size: x-large;
  font-weight: bold;


}

/*
***the bg-image  for sections:
**main & footer.
 */
main {
  background-image: url(IMG/main_image.jpg);
  background-size: cover;
}

#Contact {
  background-image: url(IMG/main_image.jpg);
  background-size: cover;
}

/*
***buttons: 
**add color and resize
 */
.btn {
  border: none;
  border-radius: 26px;
  color: white;
  font-size: 26px;
  font-weight: bold;
  background-color: #383838;
  width: 177px;
  height: 65px;
}

.btn:hover {
  color: #383838;
  background-color: #b5c98e;
}

.btn:active {
  color: white !important;
  background-color: #ad9663 !important;
}

.bg-color {
  border-radius: 26px;
  background-color: #b5c98e;
}

/* collapse button  */
.collapse:not(.show) {
  display: none;
}

.collapsing {
  height: 0;
  overflow: hidden;
  transition: 0.1s;
}

.collapsing.collapse-horizontal {
  width: 0;
  height: auto;
  transition: 0.1s;
}

.save {
  height: 40px;
  width: 100px;
  color: white;
  background-color: #ad9663;
  border: none;
  border-radius: 10px;
}

button.save:hover {
  transition: 0.2s;
  color: #ad9663;
  border: #ad9663 solid 2px;
  background-color: white;
}

.form-control {
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid black;
}

.form-control:focus {
  border-bottom: #ad9663 solid 3px;
}

/* card overlay */
.card-image {
  position: relative;
}

.image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.5);
}

.card:hover .image-overlay {
  opacity: 1;
}

/* modal */
.delete {
  color: white;
  background-color: rgba(0, 0, 0, 0.50);
}

.btn-delete {
  background-color: red;
  color: white;
  border: none;
  font-weight: 700;
  padding: 5px 25px;
}

.btn-cancel {
  background-color:#ad9663;
  color: white;
  border: none;
  font-weight: 700;
  padding: 5px 25px;
}
