* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

/*
***nav bar 
**add position to nav bar => fixed.
**add color and hover effects.
**add the active color and bg color => for scrollspy.
 */
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #3838387a;
}

nav .navbar-nav li a {
  color: white !important;
}

nav .navbar-nav li a:hover {
  color: #ad9663 !important;
  background-color: white;
}

.nav-link {
  color: white !important;
  text-transform: uppercase;
}

.nav-link.active {
  color: #ad9663 !important;
  background-color: white !important;
}

/* 
***add style to logo:
**color and font.
 */
.logo {
  color: #ad9663;
  font-family: "Dancing Script", cursive;
  font-size: x-large;
  font-weight: bold;
}

/*
***the bg-image  for sections:
**main & footer.
 */
main {
  background-image: url(IMG/main_image.jpg);
  background-size: cover;
}

#Contact {
  background-image: url(IMG/main_image.jpg);
  background-size: cover;
}

/*
***buttons: 
**add color and resize
 */
.btn {
  border: none;
  border-radius: 26px;
  color: white;
  font-size: 26px;
  font-weight: bold;
  background-color: #383838;
  width: 177px;
  height: 65px;
}

.btn:hover {
  color: #383838;
  background-color: #b5c98e;
}

.btn:active {
  color: white !important;
  background-color: #ad9663 !important;
}

.bg-color {
  border-radius: 26px;
  background-color: #b5c98e;
}

/* collapse button  */
.collapse:not(.show) {
  display: none;
}

.collapsing {
  height: 0;
  overflow: hidden;
  transition: 0.1s;
}

.collapsing.collapse-horizontal {
  width: 0;
  height: auto;
  transition: 0.1s;
}

.save {
  height: 40px;
  width: 100px;
  color: white;
  background-color: #ad9663;
  border: none;
  border-radius: 10px;
}
button.save:hover {
  transition: 0.2s;
  color: #ad9663;
  border: #ad9663 solid 2px;
  background-color: white;
}

.form-control {
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid black;
}

.form-control:focus {
  border-bottom: #ad9663 solid 3px;
}

.cont {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.middle {
  background-color: black;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.container:hover .card {
  opacity: 0.3;
}

.cont:hover .middle {
  opacity: 1;
}
